aiohttp
aiosignal
async-timeout
asyncpg==0.31.0
attrs==
charset-normalizer
disnake==2.12.0
ffmpeg==1.4
frozenlist
idna==3.4
multidict
pafy==0.5.5
Pillow
python-dotenv==1.2.2
pytube==12.1.0
yarl==1.8.1
youtube-dl==2021.12.17